.quadra {
    display: grid;
    grid-template-columns: 1fr repeat(7, 1fr);
    grid-template-rows: 1fr repeat(5, 1fr);
    gap: 1px;
    grid-template-areas:
    "Fora-Fundo Fora-Fundo Fora-Fundo Fora-Fundo Fora-Fundo Fora-Fundo Fora-Fundo"
    "Fora-Esquerda Vermelho1 Vermelho2 Vermelho3 Vermelho4 Vermelho5 Fora-Direita"
    "Fora-Esquerda Amarelo1 Amarelo2 Amarelo3 Amarelo4 Amarelo5 Fora-Direita"
    "Fora-Esquerda Verde1 Verde2 Verde3 Verde4 Verde5 Fora-Direita"
    "Rede Rede Rede Rede Rede Rede Rede"; 

  }
  
  button {
    border: none;
    font-size: 16px;
    color: #000000;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  .Fora-Fundo {
    grid-area: Fora-Fundo;
    background-color: #9afff7;
  }
  
  .Fora-Esquerda {
    grid-area: Fora-Esquerda;
    background-color: #9afff7;
  }
  
  .Fora-Direita {
    grid-area: Fora-Direita;
    background-color: #9afff7;
  }
  
  .Rede {
    grid-area: Rede;
    background-color: #ff9ae6;
  }
  

  .Vermelho1 { grid-area: Vermelho1; background-color:#ff5858}
  
  .Vermelho2 { grid-area: Vermelho2; background-color:#ff5858}
  
  .Vermelho3 { grid-area: Vermelho3; background-color:#ff5858}
  
  .Vermelho4 { grid-area: Vermelho4; background-color:#ff5858}
  
  .Vermelho5 { grid-area: Vermelho5; background-color:#ff5858}
  
  .Amarelo5 { grid-area: Amarelo5; background-color:#fffd75}
  
  .Amarelo4 { grid-area: Amarelo4; background-color:#fffd75}
  
  .Amarelo3 { grid-area: Amarelo3; background-color:#fffd75}
  
  .Amarelo2 { grid-area: Amarelo2; background-color:#fffd75}
  
  .Amarelo1 { grid-area: Amarelo1; background-color:#fffd75}
  
  .Verde1 { grid-area: Verde1; background-color:#6eff75}
  
  .Verde2 { grid-area: Verde2; background-color:#6eff75}
  
  .Verde3 { grid-area: Verde3; background-color:#6eff75}
  
  .Verde4 { grid-area: Verde4; background-color:#6eff75}
  
  .Verde5 { grid-area: Verde5; background-color:#6eff75}

  
  button:hover {
    opacity: 0.8;
  }
  


/* Responsividade para telas menores (celulares) */
@media (max-width: 576px) {
  .quadra {
    width: 100vw; /* A largura da quadra ocupa toda a largura da viewport */
    height: 55vh; /* A altura da quadra ocupa toda a altura da viewport */
    grid-template-columns: 1fr repeat(7, 1fr); /* Mantém a estrutura das colunas */
    grid-template-rows: 1fr repeat(5, 1fr); /* Mantém as linhas, mas ajusta a proporção */
  }

  button {
    font-size: 10px; /* Reduz o tamanho da fonte para telas menores */
    padding: 4px;    /* Ajusta o padding dos botões */
  }
  
  .quadra button {
    height: calc(auto / 6); /* Cada botão ajusta sua altura em função da altura da viewport */
  }
}